@import url("https://fonts.googleapis.com/css?family=Archivo:400,400i,500,500i,600,600i,700,700i");
* {
    margin: 0;
    padding: 0; 
}
  
html, body{
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: Cambria,Georgia,serif;
    font-weight: 400;
    font-size: 16px;
    position: relative;
    z-index: auto; 
}
    
li {
    list-style: none;
}

.logo{
    width:5%;
    padding-left: 20px;
    display:flex;
    justify-content:right;
    align-items:center; 
 }

.logo img{
    width: 200%;
    border: 2px solid goldenrod;
    border-radius: 47%
    /* border: 1px solid white;
    border-radius: 50%; */
}

.navbar{
    display:flex;
    justify-content:center;
    align-items:center;
    position:sticky;
    top:0;
    cursor:pointer;  
}

.nav-list{
    width: 81%;
    /* background:black; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.nav-list li{
    list-style:none;
    padding: 20px 15px;
    font-size: 23px;
    display: inline;
    margin: 0;
}

.nav-list li a{
    text-decoration: none;
    color:rgb(247, 218, 88);
}
.nav-list li a:hover{
    text-decoration: none;
    color:rgb(141, 118, 6);
}

.rightnav{
    width:11%;
    /* background:brown; */
    text-align:right;
    /* padding: 9px; */
    /* padding: 20px 15px; */
    font-size: 23px;
    /* background:black; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.rightnav-list{
    width: 100%;
    /* background:black; */
    display: flex;
    /* justify-content: center; */
    align-items: right;
}

.rightnav-list li{
    list-style:none;
    padding: 20px 15px;
    font-size: 27px;
}
.rightnav-list li a{
    text-decoration: none;
    color:gold;
}
.rightnav-list li a:hover{
    text-decoration: none;
    color:rgb(141, 118, 6);
}


.backgroundl{
    background: rgba(0, 0, 0, 0.8);
    background-size:cover;
    /* background-blend-mode: darken; */
    
}
.btn1 {
    font-size: 24px;
    /* border: 3px solid white; */
    background: rgb(0, 0, 0, 0);
    color: gold;
    cursor: pointer;
    font-family: Cambria,Georgia,serif;
    width: 195px;
    border: none;
    border-radius: 10px;
    text-decoration: underline;
  }

  
  .firstSection{
    height: 100vh;
  }
.background{
    background:rgba(0, 0, 0, 0.1) url(12.jpg);
    background-size:cover;
    background-blend-mode: darken;
    /* -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    /* filter: blur(5px);  */
}
.main{
    width: 82%;
    display:flex;
    font-family: Cambria,Georgia,serif;
   flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-direction: alternate-reverse;
    animation-delay: 1.25s;
    animation-fill-mode: forwards;
}
.main h2{
    color: #64030d;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    padding-top: 23%;
    padding-left: 20%;
}
.text-sm{
    font-size: 30px;
    color: #64030d;
    text-align: center;
    font-weight: 600;
    padding: 1%;
    width: 60%;
    padding-left: 20%;
    text-align: center;
}
.project{
    background-color: #0a0a0a;
    padding-top: 10px;
  }
  .project h1 {
    font-family: 'Abril Fatface',cursive;
    background:  -webkit-linear-gradient(#8e0e00, #f6a945);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 45px;
    text-transform: capitalize;
    text-align: center;
   
  
    
  }
  .po{
    text-align: center;
    color: wheat;
    font-family: Arial, Helvetica, sans-serif;
  }

 
 .project__container {
    /* margin-left: 120px; */
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #bacdf0;
   
  }

  .box {
    width: 25%; 
    padding: 50px;
    /* padding-left: 10px; */
    display: block;
    border:1px solid ivory;
    margin: 20px;
    background-color:#a4c1f8;
    text-align: center;
border-top-left-radius: 50px;
border-bottom-right-radius: 50px;

  }
  .box img {
    width: 100%;
    border-radius: 20px;
  }
  .box img:hover {
    transform: scale(1.2, 1.2);
    transition: 0.3s transform;
  } 
  .box .text{
      text-align: center;
      font-size: 17px;
      font-family: cursive;
      margin-top: 20px;

  }
  .pooja{
    display: flex;
  }

#sak{
  
  justify-content: center;
    align-items: center;
    text-align: center;
 
    font-weight: 600;
    font-size: 35px;
    color: #64030d;
}

      


  

 

  .thirdSection{
    height: 45vh;
  }
  .first{
    width: 70%;
    align-items: justify;
    text-align: justify;
    align-items: center;
    justify-content: center;
    padding-left: 16%;
    /* padding-top: 4%; */
    font-size: 20px;
  }
  .first h2{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2%;
    font-weight: 600;
    font-size: 35px;
    color: #64030d;
  }
  
  
  